<form action="/animals/<%= @animal.id %>" method="post">

  <label for="name">Name: </label>
  <input id="name" type="text" name="name" value="<%= @animal.name%>">
  <br>

  <label for="type">Type: </label>
  <input id="type" type="text" name="type" value="<%= @animal.type %>">

  <br>
  <label for="date_admitted">Date Admitted: </label>
  <input id="date_admitted" type="text" name="date_admitted" value="<%= @animal.date_admitted %>">

  <br>
  <label for="adoptable">Adoptable</label>
  <select class="adoptable" name="adoptable">
    <option value="t">True</option>
    <option value="f">False</option>
  </select>

  <br>
  <label for="trained">Trained</label>
  <select class="trained" name="trained">
    <option value="t">True</option>
    <option value="f">False</option>
  </select>


  <input type="submit" value="Update Animal">

</form>
