

<form action="/animals/" method="post">

  <label for="name">Name: </label>
  <input id="name" type="text" name="name">
  <br>


<label for="species">Species</label>
<select class="species" name="species">
  <option value="Dog">Dog:: Breed:</option>
  <option value="Cat">Cat:: Breed:</option>
  <option value="Other">Other:: Species:</option>
</select>
<input id="type" type="text" name="type" value="Unknown">
<table>


  <br>
  <label for="date_admitted">Date Admitted: </label>
  <input id="date_admitted" type="date" name="date_admitted">

  <br>
  <label for="healthy">Animal is HEALTHY?</label>
  <select class="healthy" name="healthy">
    <option value="t">True</option>
    <option value="f">False</option>
  </select>

  <br>
  <label for="Trained">Animal is TRAINED?: </label>
  <select class="trained" name="trained">
    <option value="t">True</option>
    <option value="f">False</option>
  </select>
  <br>

  <input type="submit" value="Log Animal into Shelter" class='button_create'>

</form>
<br><br><br>
