<form action="/adoptions" method="post">

  <p>The creating an adoptions thing will go here</p>


  <input type="submit" value="Create Adoption">
</form>


<p><a href="/adoptions/"> Back to adoptions</a></p>

<p><a href="/"> Back to homescreen</a></p>
