<p>The selected adoption is :</p>
<br>
<p>Animal <%= @adoption.animal_id %> was adopted by customer <%= @adoption.customer_id %> </p>
<br>

<p><a href="/adoptions/"> Back to adoptions</a></p>

<p><a href="/"> Back to homescreen</a></p>
