<h1>It's Not Their Fault Animal Shelter</h1>
<div class="home_screen">
  
<img src="/images/761801.png" alt="Logo">

<p><a href="/customers">customers</a>   <a href="/adoptions">adoptions</a> <a href="/animals/home">animals</a></p>

</div>
