<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Animal Shelter</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/animals/">Animals</a></li>
      <li><a href="/customers/">Customers</a></li>
      <li><a href="/adoptions/">Adoptions</a><p></p></li>
      <li><a href="/"> Back to homescreen</a></p></li
      </ul>
    </nav>
    

    <p>This is the animal shelter site. This text is coming from the layout.erb in views</p>

    <%= yield %>

    <p>This is the animal shelter site. This text is coming from the layout.erb in views</p>
  </body>
  </html>
