<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animal Shelter</title>
  </head>
  <body>
    <p>This is the animal shelter site</p>

    <%= yield %>
  </body>
</html>
