<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Animal Shelter</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/tables.css">
  <link rel="stylesheet" href="/buttons.css">
  <link rel="shortcut icon" href="/images/761801 copy.jpg.ico">
</head>

<body>
  <header>
    <div class="header">
      <a href="/">
        <img src="/images/761801.png" alt="Logo">
      </a>
      <nav>
        <ul>
          <li><a href="/animals/home">Animals</a></li>
          <li><a href="/customers/">Customers</a></li>
          <li><a href="/adoptions/">Adoptions</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <div class="flex-container">



    <%= yield %>


  </div>
  </body>
  <div class="footer">
    <footer>
      <p>It's Not Their Fault is a made up company but if it were real it would probably be a registered charity in England and Wales with a number like(090877) and in Scotland with  a number like (SC0933). It's not a  Registered company. And doesn't have a Registered address like 123 Fake Street, Fakeshire FR18 4FR.</p>
    </footer>
  </div>



</html>
