<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Animal Shelter</title>
</head>
<body>
  <p><a href="/animals/">Animals</a></p>
  <p><a href="/customers/">Customers</a></p>
  <p><a href="/adoptions/">Adoptions</a></p>
  <p><a href="/"> Back to homescreen</a></p>

  <p>This is the animal shelter site. This text is coming from the layout.erb in views</p>

  <%= yield %>

  <p>This is the animal shelter site. This text is coming from the layout.erb in views</p>
</body>
</html>
