/*
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
} */


.header {
  background-color: lightblue;
}

.logo img {
  height: 10%;
  width: auto;
  margin: 0 auto;
}


table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}


nav {
  display: inline;
  text-align: right;
  padding-left: 15px;
}

nav li {
  display: inline;
  color: white;
  font-size: 16;
}

footer {
  color: lightgrey;
  bottom: 0;
  width: 100%;
  position: sticky;
}

footer p {
  color: #9E9E9E;
  font-size: 6;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
