/*
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
} */
body {
  width: 100%;
}

.header {
  background-color: lightblue;
  height: 150px;
}

.header img {
    height: 100px;
    width: auto;
    margin: 0 auto;
    float: left;
}

nav ul li{
  display: inline;
  text-align: right;
  padding-left: 15px;
}

nav {
  width: 300px;
  margin: 0 auto;
}

footer {
  color: lightgrey;
  bottom: 0;
  width: 100%;
  position: sticky;
}

footer p {
  color: #9E9E9E;
  font-size: 6;
}

.flex-container {
  margin: 0 20%;

}
