/*
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
} */
body {
  width: 100%;
  font-family: Helvetica;
  font-size: 21px;
  background-color: antiquewhite;
  justify-content: center;
}

a:hover {
  color: red;
}

.header {
  background-color: lightblue;
  height: 150px;
  top: 0
}

.header img {
    height: 120px;
    width: auto;
    margin: 0 auto;
    float: left;
}

nav ul li{
  display: inline;
  text-align: right;
  padding-left: 15px;
  color: white;
  font-family: monospace;
  font-size: 40px;
}

nav {
  width: 790px;
  margin: 0 auto;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    color: grey;
    font-size: 11px;
    text-align: center;
}

.flex-container {
  margin: 0 17%;
  text-align: center;
}

.previous_adoptions {
  border: 1px solid black;
}

.home_page a {
  font-size: 50px;
}
