<h2>The following customer has been created:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Animal Preference</th>
    <th>number of adoptions</th>
  </tr>
  <tr>
    <td><a href="/customers/<%= @customer.id%>"><%= @customer.full_name %></a></td>
    <td><%=@customer.display_preference %></td>
    <td><%=@customer.number_of_adoptions %></td>
  </tr>
</table>
<br><br>

<a href="/customers/new" class="button_create">Add another customer</a>

<a href="/customers/">Back to customers page</a>
