<h1>Customers </h1>
<br>
<p><a href="/customers/new" class="button_create">Create a new customer</a></p>
<br>
<table>
  <tr>
    <th>Full Name</th>
    <th>Preferences</th>
    <th>Number of Adoptions</th>
  </tr>
  <% @customers.each do |customer| %>
  <tr>
    <td><a href="/customers/<%=customer.id%>"><%= customer.full_name %></a></td>
    <td><%= customer.display_preference %></td>
    <td><%= customer.number_of_adoptions %></td>
  </tr>
  <% end %>
</table>
