<form action="/customers/" method="post">

<label for="first_name">First Name</label>
<input id="first-name" type="text" name="first_name">
<br>

<label for="last_name">Last Name</label>
<input id="last-name" type="text" name="last_name">
<br>

<label for="species_preference">Species Preference: </label><br>
<input type="radio" name="species_preference" value="Dog" checked> Dog<br>
<input type="radio" name="species_preference" value="Cat"> Cat<br>
<input type="radio" name="species_preference" value="Other"> Other<br>
<br>
<label for="type_preference">Prefered breed of Dog/Cat or species of animal: </label>
<input id="type_preference" type="text" name="type_preference" value="Unknown">

<br>

<input type="submit" value="Create Customer" class="button_create">

</form>
