<form action="/customers/" method="post">

<label for="first_name">First Name</label>
<input id="first-name" type="text" name="first_name">
<br>

<label for="last_name">Last Name</label>
<input id="last-name" type="text" name="last_name">
<br>


<label for="number_of_adoptions">Number of Adoptions</label>
<input id="Adoptions-number" type="number" name="number_of_adoptions">
<br>

<input type="submit" value="Create Customer">

</form>
